div.main {
    background-color:red;
}

.main {
    color:green;
}

/* Posso scrivere la regola anche dentro la precedente, direttamente sotto a backgroun-color:
   .main {
    background-color:red;
    color:green;
    }
*/
